<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />    
	<add key="dotnetfeed.blob.core.windows.net" value="https://dotnetfeed.blob.core.windows.net/dotnet-iot/index.json" />
	<add key="dotnet.myget.org" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/nahueltaibo/index.json" />
  </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="nahueltaibo" />
            <add key="ClearTextPassword" value="3456ea8cc7ab7e0050186cea76dafe58c658489b"  />
        </github>
    </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>